@model Movie_Site_Management_System.Models.SeatType
@{
    ViewData["Title"] = "Edit Seat Type";
}
<h2>Edit Seat Type</h2>
<hr />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="SeatTypeId" />
    <partial name="_Form" model="Model" />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
