@model Movie_Site_Management_System.Models.Seat
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="HallId" class="form-label">Hall</label>
        <select asp-for="HallId" class="form-select" asp-items="ViewBag.Halls"></select>
        <span asp-validation-for="HallId" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="RowLabel" class="form-label">Row</label>
        <input asp-for="RowLabel" class="form-control" placeholder="A" />
        <span asp-validation-for="RowLabel" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="SeatNumber" class="form-label">Number</label>
        <input asp-for="SeatNumber" class="form-control" type="number" min="1" />
        <span asp-validation-for="SeatNumber" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="SeatTypeId" class="form-label">Seat Type</label>
        <select asp-for="SeatTypeId" class="form-select" asp-items="ViewBag.SeatTypes"></select>
        <span asp-validation-for="SeatTypeId" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="PosX" class="form-label">Pos X</label>
        <input asp-for="PosX" class="form-control" type="number" min="0" />
        <span asp-validation-for="PosX" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="PosY" class="form-label">Pos Y</label>
        <input asp-for="PosY" class="form-control" type="number" min="0" />
        <span asp-validation-for="PosY" class="text-danger"></span>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input asp-for="IsDisabled" class="form-check-input" />
            <label asp-for="IsDisabled" class="form-check-label">Disabled</label>
        </div>
        <span asp-validation-for="IsDisabled" class="text-danger"></span>
    </div>
</div>
